@model Slider
@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Slider Create</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form asp-action="create" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Order">Order</label>
                    <input asp-for="Order" value="@ViewBag.Order" class="form-control" placeholder="Enter Order">
                    <span class="text-danger" asp-validation-for="Order"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title1">Title1</label>
                    <input asp-for="Title1" type="text" class="form-control" placeholder="Enter Title1">
                    <span class="text-danger" asp-validation-for="Title1"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title2">Title2</label>
                    <input asp-for="Title2" type="text" class="form-control" placeholder="Enter Title2">
                    <span class="text-danger" asp-validation-for="Title2"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ButtonText">ButtonText</label>
                    <input asp-for="ButtonText" type="text" class="form-control" placeholder="Enter ButtonText">
                    <span class="text-danger" asp-validation-for="ButtonText"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ButtonUrl">ButtonUrl</label>
                    <input asp-for="ButtonUrl" type="text" class="form-control" placeholder="Enter ButtonUrl">
                    <span class="text-danger" asp-validation-for="ButtonUrl"></span>
                </div>
                <div class="form-group">
                    <label>Image File</label>
                    <input asp-for="ImageFile" accept="image/*" class="form-control" placeholder="Enter ImageFile">
                    <span class="text-danger" asp-validation-for="ImageFile"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <textarea asp-for="Description" rows="3" type="text" class="form-control" placeholder="Enter Description"></textarea>
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


@section Scripts{
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}



