@model BasketViewModel
<div class="cart-total">
    <span class="text-number">
        @Model.BasketItems.Count
    </span>
    <span class="text-item">
        Shopping Cart
    </span>
    <span class="price">
        £@Model.TotalPrice.ToString("0.00")
        <i class="fas fa-chevron-down"></i>
    </span>
</div>
<div class="cart-dropdown-block">
    @foreach (var item in Model.BasketItems)
    {
        decimal unitPrice = item.Book.DiscountPercent > 0 ? (item.Book.SalePrice * (100 - item.Book.DiscountPercent) / 100) : item.Book.SalePrice;
        <div class="single-cart-block">
            <div class="cart-product">
                <a href="product-details.html" class="image">
                    <img src="~/assets/image/products/@item.Book.BookImages?.FirstOrDefault(x=>x.PosterStatus==true)?.Image" alt="">
                </a>
                <div class="content">
                    <h3 class="title">
                        <a href="product-details.html">
                            @item.Book.Name
                        </a>
                    </h3>
                    <p class="price">
                        <span class="qty">@item.Count ×</span>
                        £@(unitPrice.ToString("0.00"))
                    </p>
                    <button data-id="@item.Book.Id" class="cross-btn remove-basket"><i class="fas fa-times"></i></button>
                </div>
            </div>
        </div>
    }
    <div class=" single-cart-block ">
        <div class="btn-block">
            <a href="cart.html" class="btn">
                View Cart <i class="fas fa-chevron-right"></i>
            </a>
            <a href="checkout.html" class="btn btn--primary">
                Check Out <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>