@model Order
<div id="billing-form" class="mb-40">
    <h4 class="checkout-title">Billing Address</h4>

    <form id="checkoutForm" method="post" asp-action="checkout">
      
            <div class="row">
            @if (!User.Identity.IsAuthenticated || !User.IsInRole("Member"))
            {
                <div class="col-md-6 col-12 mb--20">
                    <label asp-for="FullName">Full Name*</label>
                    <input asp-for="FullName">
                    <span class="text-danger" asp-validation-for="FullName"></span>
                </div>

                <div class="col-md-6 col-12 mb--20">
                    <label asp-for="Email">Email Address*</label>
                    <input asp-for="Email" type="email" placeholder="Email Address">
                    <span class="text-danger" asp-validation-for="Email"></span>

                </div>
            }
            else
            {
                <div class="col-md-6 col-12 mb--20">
                    <label >Full Name</label>
                    <input disabled value="@Model.FullName">
                    <input type="hidden" name="FullName" value="@Model.FullName" />
                </div>

                <div class="col-md-6 col-12 mb--20">
                    <label>Email Address*</label>
                    <input value="@Model.Email" disabled  type="email" placeholder="Email Address">
                    <input type="hidden" name="Email" value="@Model.Email" />
                </div>
            }

           
                <div class="col-md-6 col-12 mb--20">
                    <label asp-for="Phone">Phone no*</label>
                    <input asp-for="Phone" type="text" placeholder="Phone number">
                    <span class="text-danger" asp-validation-for="Phone"></span>
                </div>
                <div class="col-md-6 col-12 mb--20">
                    <label asp-for="Address">Address</label>
                    <input asp-for="Address">
                    <span class="text-danger" asp-validation-for="Address"></span>
                </div>

                <div class="col-md-6 col-12 mb--20">
                    <label asp-for="City">City</label>
                    <input asp-for="City">
                    <span class="text-danger" asp-validation-for="City"></span>
                </div>

                <div class="col-md-6 col-12 mb--20">
                    <label asp-for="ZipCode">ZipCode</label>
                    <input asp-for="ZipCode">
                    <span class="text-danger" asp-validation-for="ZipCode"></span>
                </div>
            </div>

    </form>
</div>

<div class="order-note-block mt--30">
    <label asp-for="Note">Order notes</label>
    <textarea form="checkoutForm" asp-for="Note" cols="30" rows="10" class="order-note"
              placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
    <span class="text-danger" asp-validation-for="Note"></span>
</div>